.svg-map {
    width: 100%;
    height: auto;
    stroke: #AAA;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round; }
    .svg-map__location {
      fill: #FFF;
      cursor: pointer; 
      transition: fill 0.5s ease;}
      .svg-map__location:focus, .svg-map__location:hover {
        outline: 0; 
        stroke-width: 2;
        transition: stroke-width 0.5s ease;}
        //fill: #dbf4ff;
        //transition: fill 0.25s ease;}
      .svg-map__location[aria-checked=true] {
        //fill: #94dfff; 
        //transition: fill 0.5s ease;}
        stroke-width: 2;
        transition: stroke-width 0.5s ease;}
  
  